In [3]:
# Create a NumPy ndarray Object
import numpy as np

arr = np.array([101, 201, 301, 401, 501])

print(arr)

print(type(arr))

[101 201 301 401 501]
<class 'numpy.ndarray'>

In [5]:
import numpy as np

nameList = ['Angel', "Shemi", "Marvel", "Linda"]

ageTuple = (41, 32, 21, 19)

gradeDict = {"CSC102": 89, "MTH 102": 77, "CHM 102": 69, "GST 102": 99}

arr_nameList = np.array(nameList)

arr_ageTuple = np.array(ageTuple)

arr_gradeDict = np.array(gradeDict)

print(arr_nameList)
print(arr_ageTuple)
print(arr_gradeDict)

['Angel' 'Shemi' 'Marvel' 'Linda']
[41 32 21 19]
{'CSC102': 89, 'MTH 102': 77, 'CHM 102': 69, 'GST 102': 99}

In [6]:
# Dimensions in Array
# 0-Dimension
import numpy as np

classNum = int(input("How many students are in the CSC 102 class?"))

class_arr = np.array(classNum)

if (class_arr == 1):
    print("There is only ", class_arr, "student in CSC 102 class" )
else:
    print("There are", class_arr, "students in CSC 102 class" )

How many students are in the CSC 102 class?3
There are 3 students in CSC 102 class

In [7]:
# 1-D Arrays
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [8]:
# 2-D Arrays
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

[[1 2 3]
 [4 5 6]]

In [10]:
# 3-D Arrays
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]

In [11]:
# Check Number of Dimensions
import numpy as np

a = np.array(42)
b = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([1, 2, 3, 4, 5])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
3
2
1

In [27]:
# Higher Dimensional Arrays
import numpy as np

arr = np.array([1, 2, 3, 4], ndmin=8)

print(arr)
print('number of dimensions :', arr.ndim)

[[[[[[[[1 2 3 4]]]]]]]]
number of dimensions : 8

In [28]:
# Access Array Elements
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[1])

2

In [30]:
# Access 2-D Arrays
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('5th element on 2nd row: ', arr[1, 4])

5th element on 2nd row:  10

In [31]:
# Access 3-D Arrays
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

6

In [33]:
# Negative Indexing
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

Last element from 2nd dim:  10

In [36]:
# Slicing arrays
# Slice elements from index 1 to index 1 to index 5 from the following array:

import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

[2 3 4 5]

In [37]:
# Slice elements from index 4 to the end of the array:

import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

[5 6 7]

In [38]:
# Slice elements from the beginning to index 4 (not included):

import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])

[1 2 3 4]

In [39]:
# Checking the Data Type of Array
import numpy as np

int_arr = np.array([1, 2, 3, 4])

str_arr = np.array(['apple', 'banana', 'cherry'])

print(int_arr.dtype)

print(str_arr.dtype)

int32
<U6

In [40]:
# Iterating Arrays
#Iterate on each scalar element of the 2-D array:

import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
    for y in x:
        print(y,x)

1 [1 2 3]
2 [1 2 3]
3 [1 2 3]
4 [4 5 6]
5 [4 5 6]
6 [4 5 6]

In [41]:
# Iterate on the elements of the following 3-D array:

import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
    print(x[0][1])
    print(x[1][0])

2
4
8
10

In [42]:
# Joining NumPy Arrays
# Join two arrays

import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

[1 2 3 4 5 6]

In [45]:
# Splitting NumPy Arrays
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

[array([1, 2]), array([3, 4]), array([5, 6])]

In [46]:
# Access splitted arrays

import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr[0])
print(newarr[1])
print(newarr[2])

[1 2]
[3 4]
[5 6]

In [47]:
# Splitting 2-D Arrays
import numpy as np

arr = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]])

newarr = np.array_split(arr, 3)

print(newarr)

[array([[1, 2],
       [3, 4]]), array([[5, 6],
       [7, 8]]), array([[ 9, 10],
       [11, 12]])]

In [49]:
# Creating a dataframe using List:
# import pandas as pd
import pandas as pd

# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']

# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

In [51]:
# Creating a dataframe using dict of narray/lists:
import pandas as pd

# initialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
       'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

In [52]:
# Column Section
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
       'Age':[27, 24, 22, 32],
       'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

In [55]:
# Row Selection:
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
       'Age':[27, 24, 22, 32],
       'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
       'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

In [61]:
# Read from a file:
# importing pandas package
import pandas as pd

# making data from csv file
data = pd.read_csv("C:\\Users\\HP\\Downloads\\employee_records.csv")

# print excel
data

    Employee Names  Years  Assesment Records  Points  Reward
0      Matthew Ade     25              125.3      21  438.55
1   Angela Adebisi     15               77.9      14  181.77
2  Calistus Ndukwe     10              144.2      18  432.60
3   Martha Martins      9               81.5      25  339.58
4    Victor Sayola     18               77.8      33  427.90
5      Adamu Bello     23               99.5      24  398.00

In [68]:
# Select first row from file
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("C:\\Users\\HP\Downloads\\employee_records.csv")

df = data.iloc[0]

# print excel
df

Employee Names       Matthew Ade
Years                         25
Assesment Records          125.3
Points                        21
Reward                    438.55
Name: 0, dtype: object

In [71]:
# Selecting Row with Title Header
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("C:\\Users\\HP\\Downloads\\employee_records.csv")

df=data.head(1)

# print excel
df

  Employee Names  Years  Assesment Records  Points  Reward
0    Matthew Ade     25              125.3      21  438.55

In [76]:
# Looping over rows and columns
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
       'degree': ["MBA", "BCA", "M.Tech", "MBA"],
       'score':[90, 40, 80, 98]}

# creating a dataframe from a dictionary
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

In [77]:
# Looping over Columns:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
       'degree': ["MBA", "BCA", "M.Tech", "MBA"],
       'score':[90, 40, 80, 98]}

# creating a dataframe from a dictionary
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)

for i in columns:
    
    #printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

In [79]:
# Saving a DataFrame as CSV file
# importing pandas as pd
import pandas as pd

# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
          'degree': ["MBA", "BCA", "M.Tech", "MBA"],
          'score':[90, 40, 80, 98]}

# creating a dataframe from a dictionary
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('records.csv')